@import '../../styles/variables'; 
@import '../../styles/mixins'; 

.dropdown {
    display: flex;
    align-items: center;
    height: 30px;
    padding-left: 12px;
    border: none;
    border-radius: 5px;
    background-color: $primary-color;
    cursor: pointer;
    transition: background-color 0.6s ease;

    @include desktop-breakpoint {
		height: 47px;
		padding-left: 18px;
	}

    &-section {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        @include desktop-breakpoint {
			padding-left: 108px;
			padding-right: 108px;
			margin-bottom: 31px;
		}
    }

    &-title {
		font-size: 13px;
		font-weight: 200;
		line-height: 143%;
	    	color: #ffffff;

		@include desktop-breakpoint {
			font-size: 24px;
		}
	}

    &-icon {
	height: 18px;
        width: 18px;
     	margin-left: auto;
        margin-right: 6px;
        transition: -webkit-transform 0.6s ease;
        transition: transform 0.6s ease;
        color: #fff, 1;

        @include desktop-breakpoint {
			margin-right: 32px;
			height: 14px;
			width: 23px;	
		}
    }

    &-content {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.6s ease;
        
        &.active {
            max-height: none;
        }
    }

    &-text {
        padding-top: 18px;
	padding-bottom: 18px;
        padding-left: 12px;
        padding-right: 6px;
        color: $primary-color;
        background: #f7f7f7;
        line-height: 143%;
        font-size: 12px;
        @include desktop-breakpoint {
			padding-top: 36px;
			padding-bottom: 36px;
			padding-left: 18px;
			padding-right: 27px;
			font-size: 24px;
        }
    }
}

.rotate {
    transform: rotate(180deg);
}

