// _variables.scss

$primary-color: #ff6060;

$typography-size: (
	mobile: 19px,
	desktop: 16px,
);

$breakpoints: (
  mobile: 480px,
  tablet: 768px,
  desktop: 1024px,
  large: 1440px
);

$logo: "./logo.png";





  