@import '../../styles/variables'; 
@import '../../styles/mixins'; 

.star,
.star-empty {
    margin-right: 5px;
    width: 15px;
    height: 15px;
    @include desktop-breakpoint {
        margin-right: 10px;
        width: 30px;
        height: 30px;
    }
}


