@import '../../styles/variables';
@import '../../styles/mixins'; 

.banner {
    position: relative;
    margin-bottom: 22px;
    margin: 0 auto;
    @include desktop-breakpoint {
		margin-bottom: 43px;
	}
    &-photo {
	height: 111px;
	width: 100%;
	object-fit: cover;
	filter: brightness(70%);
	border-radius: 10px;
	@include desktop-breakpoint {
		height: 223px;
	}
    }
    &-headline {
	position: absolute;
        z-index: 1;
        top: 37%;
	width: 66%;    
        left: 16px;
        transform: translateY(-50%);
        color: #ffffff; 
        font-weight: 400;
        line-height: 100%;
	font-size: 24px; 
        @include desktop-breakpoint {
		font-size: 48px;
		width: 100%;
		text-align: center;
        }
    }
}
.home {
	@include desktop-breakpoint {
		padding-bottom: 43px;
	}
}

.thumb-whole{
    @include desktop-breakpoint {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
	padding-top: 56px;
	padding-bottom: 0;
        margin: 0 auto;
        row-gap: 50px;
	background: #f7f7f7;
        border-radius: 25px;
    }
}

.fill-space {
    @include desktop-breakpoint {
	height: 0;
	width: 340px;
	}
}
