@import '../../styles/variables'; 
@import '../../styles/mixins'; 

.thumb {
    position: relative;
    margin: 0 auto;
    margin-bottom: 20px;
    transform: scale(1);
    transition-duration: 0.5s;
    @include desktop-breakpoint {
	    	margin: 0;
		position: static;
	}
    &:hover {
	transition-duration: 0.5s;
        transform: scale(1.03);
    }
    &-cover-whole img{
        object-fit: cover;
	width: 100%;
        filter: brightness(68%);
        border-radius: 10px;
    }
    &-title {
        position: absolute;
	z-index: 1;
	padding-right: 20px;
        padding-left: 20px;
        bottom: 16px;
        color: #ffffff;
        font-weight: 500;
        line-height: 143%;
        font-size: 18px;
        @include desktop-breakpoint {
			bottom: 20px;
		}
    }
}

.thumb,
.thumb-cover-whole img {
    height: 255px;
    @include desktop-breakpoint {
	    	height: 340px;
		width: 340px;
	}
}
