// Footer.scss
@import '../../styles/variables'; 
@import '../../styles/mixins'; 

.footer {
    &-whole {
        margin-top: auto;
	height: 190px;
        background-color: #000000;
	    	text-align: center;
		color: #ffffff;
    }
    &-logo {
	width: 122px;
        height: 36px;
        margin-top: 60px;
        color: #fff, 1;
    }
    &-rights {
	font-weight: 300;
        margin-top: 40px;
        font-size: 11px;
        @include desktop-breakpoint {
			font-size: 22px;
			margin-top: 31px;
		}
    }
}
