@import '../../styles/variables'; 
@import '../../styles/mixins'; 

.accommodation {
    &-detail-set {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px; 

        .title-rating-host-set {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;

            @include desktop-breakpoint {
                flex-direction: row; 
            }

            .title-tag-set {
                h1 {
                    &.accommodation-title {
                        margin-top: 15px;
                        margin-bottom: 0;
                        color: $primary-color;
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 139,9%;
                        @include desktop-breakpoint {
                            font-size: 36px;
                        }
                    }
                }

                p {
                    &.accommodation-location {
                        margin-top: 5px;
                        margin-bottom: 0;
                        color: $primary-color;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 139,9%;

                        @include desktop-breakpoint {
                            margin-bottom: 20px;
                            font-size: 18px;
                        }
                    }
                }

                .tag-set {
                    display: flex;
                    flex-wrap: wrap;
                }
            }

            .host-rating-set {
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                justify-content: space-between;

                @include desktop-breakpoint {
                    flex-direction: column; 
                    align-items: flex-end;
                }

                .host-set {
                    display: flex;
                    align-items: center;
                    margin-top: 15px;
                    margin-bottom: auto;

                    @include desktop-breakpoint {
                        margin-top: 20px;
                        margin-bottom: 0;
                    }

                    .host-name {
                        margin-right: 12px;
                        color: $primary-color;
                        font-size: 12px;
                        font-weight: 500;
                        text-align: end;

                        @include desktop-breakpoint {
                            height: 64px;
                            font-size: 18px;
                            line-height: 148%;
                        }
                    }

                    .host-picture {
                        width: 32px; 
                        height: 32px; 
                        border-radius: 100%;

                        @include desktop-breakpoint {
                            width: 64px; 
                            height: 64px; 
                        }
                    }
                }

                .rating-set {
                    align-self: flex-start;
                    margin-top: 20px;

                    @include desktop-breakpoint {
                        margin-top: 0;
                        align-self: flex-end;
                    }
                }
            }
        }

        .set-description-equipments {
            display: flex;
            flex-direction: column;

            @include desktop-breakpoint {
                display: grid;
                grid-template-columns: 1fr 1fr; 
                gap: 20px; 
            }

            .dropdown-section {
                width: 100%;

                @include desktop-breakpoint {
                    padding: 0;
                    width: auto;
                }
                
                .dropdown {
                    @include desktop-breakpoint {
                        font-size: 18px; 
                    }
                }

                .dropdown-icon {
                    @include desktop-breakpoint {
                        margin-right: 12px; 
                    }
                }

                .dropdown-text {
                    @include desktop-breakpoint {
                        padding-top: 30px;
                        padding-right: 20px;
                        padding-bottom: 30px;
                        padding-left: 20px;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}





   









  
 




    
